<main>
        <div class="heroes">
            <div class="text_hero ">
                <h1 class="logoh1">Find Your Favorite Book</h1>
                <p class="phrase">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, ratione! Repellat aspernatur a reiciendis, culpa non tenetur optio veritatis quibusdam. Esse enim numquam.
                </p>
                 <p>
                        <a href="/create-author" class="btn btn-add my-2">Add a new author</a>
                </p>
            </div>
            <div class="hero-group">
                <ul>
                    <li class='book'>
                        <img src='https://d.gr-assets.com/books/1348927776l/8032112.jpg' />
                    </li>
                </ul>

            </div>
        </div>
        <div class="album py-5 homeCards">
                        <div class="container">
                            <div class="row">
                            {{#if hasAuthors}}

                                <div class="ContainerAuthor ">
                                {{#each author}}
                                            <div class="authorDiv">
                                                    <h5 class="card-title">{{this.name}}</h5>
                                                    <span class=" mb-2">Email: {{this.email}}</span>
                                                    <span class=" mb-2 text-muted">No. Books: probando</span>
                                                    <div class="btns">
                                                        <form id="form-delete" class="form-inline" action="/delete-author" method="post">
                                                            <input type="hidden" name="authorId" value="{{this.id}}" />
                                                            <button type="submit" id="delete-author" class="btn btnDelete delete-book btn-danger float-end">Delete</button>
                                                        </form>
                                                        <a href="/edit-author/{{this.id}}?edit=true"
                                                            class="btn btn-warning float-end btnEdit">Edit</a>
                                                    </div>
                                            </div>
                            {{/each}}
                                     </div>
                            </div>
                        </div>
         
                {{else}}

                    <h1 class="notcreated">There are not author created</h1>

                {{/if}}  

                </div>
            </div>
        </div>
</main>